:root{
    --jet: #312f2f;
    --Uranian: #a6d9f7;
    --Dull: #bccce0;
    --Rosy: #bf98A0;
    --delft: #1d3461; 
    --mint: #09BC8A;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--delft);
    background-color: var(--Dull);
    width: 100%;
    padding-bottom: 50px;
}
header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--jet);
}

/* Nav bar items */
header nav ul li{
    display: inline-flex;
}
header nav ul li a {
    margin-left: 5px;
    font-size: 20px;
    color: var(--mint);
    text-decoration:underline;
    text-underline-offset: 10px;
    padding: 10px;
    padding-top: 45px;
}
/* Name at top left*/
h1{
    background-color: var(--Dull);
    color:var(--delft);
    border-width: 2px;
    padding: 5px 10px 5px 100px;
    background-size: fill;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 60px;
    border: var(--mint);
    border-style: dashed;
    border-left: 0px;
}
/* header & profile image with cool subtitle */
div{
    position:relative;
}
div img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 370px;
    display: block;
    object-fit: cover;
}

.profile-image{
    position:fixed;
    bottom: 0;
    left: 0;
    padding: 15px 25px 15px 45px;
    margin-top: 5px;
    margin-bottom: 245px;
}

.profile-image img{
    display: flex;
    width: 15%;
    height: auto;
    border-radius: 10%;
    border-style: dashed;
    border-color: var(--mint);
    border-width: 2px;
    z-index:inherit;
}
.Tundra{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--Dull);
    border-style: dashed;
    border-color: var(--mint);
    border-right: 0px;
    border-width: 2px;
    color:var(--delft);
    padding: 5px 55px 5px 10px;
    background-size: fill;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}
/* Flexbox identifiers */

section{
    display: flex;
}
/* Left column titles */
h3{
    position: relative;
    border-style: solid;
    border-width: 5px;
    border-left: var(--delft);
    border-bottom: 0;
    border-top: 0;
    text-align: end;
    font-size: 50px;
    margin: 0px;
}
/* right hand paragraphs */

.about-me-p{
    display: block;
    color: var(--delft);
    font-size: 30px;
    padding: 25px;
    margin: 0;
    position: relative;
}
/* Contact me list at the bottom */
section ul li{
        display: inline-flex;
        margin-left: 25px;
        font-size: 20px;
        color:var(--delft);
        text-decoration:underline;
        text-underline-offset: 10px;
        align-items: center;
        flex-wrap: wrap;
}

/* These are the classes and ids */
.column {
    padding: 10px;
  }
  .left {
    width: 25%;
  }
  .right {
    width: 75%;
  }

/* CSS Grid properties */

#grid-area-work{
    grid-area: 1 / 1 / 4 / 2;
    padding: 10px;
}
#grid-area-sky{
    grid-area: 2 / 2 / 1 / 4
}
#grid-area-spring{
    grid-area: 2 / 2 / 2 / 2;
}
#grid-area-summer{
    grid-area: 2 / 3 / 2 / 3;
}
#grid-area-winter{
    grid-area: 3 / 2 / 3 / 2
}
#grid-area-autumn{
    grid-area: 3 / 3 / 3 / 3
}
.grid-container{
    display: grid;
    width: 100%;
    height: auto;
    margin: 60px auto;
    grid-template-columns: 25%;
    grid-template-rows: 25% 15% 15% 0%;
}

.grid-card-properties{
    display: flex;
    position: relative;
    flex-direction:column;
    border-style: solid;
    border-width: 5px;
    border-color: var(--mint);
    background-color: var(--Rosy);
    color:var(--delft);
    margin: 20px;
}
.top-work-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 25%;
    text-align: start;
    top: 100px;
    padding: 15px;
    color: var(--delft);
    background-color: var(--mint);
    font-size: 30px;
}
.work-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    text-align: start;
    top: 55px;
    padding: 5px;
    color: var(--delft);
    background-color: var(--mint);
    font-size: 30px;
}
.top-work-box p{
    display: flex;
    font-size: 20px;
}
.work-box p{
    display: flex;
    font-size: 20px;
}
.grid-item{
    position: relative;
    overflow:hidden;
}
.grid-item img{
    width: 100%;
    height: auto;
    display:block;
    opacity: 50%;
}
.grid-item img:hover {
    opacity: 100%;
    background-color:var(--Rosy);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
/* Contact me properties */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    color:var(--delft);
    text-decoration:underline;
    text-underline-offset: 10px;
}
.contact-me a{
    color:var(--delft);
    text-decoration:underline;
    text-underline-offset: 10px;
}
/* Media Queries */
@media screen and (max-width: 1000px) {
    h1 {
      font-size:35px;
    }
    h3{
        font-size: 25px;
    }
    h4{
        font-size: 25px;
    }
    .top-work-box{
        max-width: 60%;
        top: 75px;
    }
    .work-box{
        max-width: 60%;
        top: 35px
    }
    .contact-me {
        flex-direction: column;
        line-height: 30px;
        font-size: 10px;
    }
}  

@media screen and (max-width: 768px) {
    header nav ul li a {
        display:flex;
        flex-direction: column;
        font-size: 15px;
      
    }
}
@media screen and (max-width: 576px) {
    section card div p {
        display: none;
    }
    .top-work-box{
        max-width: 50%;
        top: 65px;
    }
    .work-box{
        max-width: 75%;
        top: 15px;
    }
}  