:root{
    --jet: #312f2f;
    --BrightTiffany: #84DCCF;
    --Uranian: #a6d9f7;
    --Dull: #bccce0;
    --Rosy: #bf98A0;
    --delft: #1d3461; 
    --mint: #09BC8A;
    --LightG: #61e786;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--delft);
    background-color: var(--Dull);
    width: 100%;
}

header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--jet);
}

header nav ul li{
    display: inline-flex;
}

header nav ul li a {
    margin-left: 5px;
    font-size: 20px;
    color:var(--Uranian);
    text-decoration:underline;
    text-underline-offset: 10px;
    padding: 10px;
    padding-top: 25px;
}

h1{
    background-color: var(--Uranian);
    color:var(--delft);
    padding-left: 100px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-size: fill;
    margin-top: 15px;
    margin-bottom: 15px;
}
div{
    position:relative;
}
div img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    flex: 2 1 200px;
}
.Tundra{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--Uranian);
    color:var(--delft);
    padding-right: 55px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-size: fill;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}
main{
    flex-wrap: nowrap;
}

section{
    display: flex;
}

h3{
    border-style: solid;
    border-width: 5px;
    border-left: var(--delft);
    border-bottom: 0;
    border-top: 0;
    text-align: end;
    font-size: 60px;
    margin: 0px;
}

p{
    color: var(--delft);
    font-size: small;
    padding: 10px;
}

section ul li{
        display: inline-flex;
        margin-left: 25px;
        font-size: 20px;
        color:var(--delft);
        text-decoration:underline;
        text-underline-offset: 10px;
        align-items: center;
        flex-wrap: wrap;
}

footer h5{
    padding: 35px;
    margin: 10px;
    align-items: center;
}

/* These are the classes */


.column {
    padding: 10px;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }



#grid-area-work{
    grid-area: 1 / 1 / 4 / 2;
    padding: 10px;
}
#grid-area-sky{
    grid-area: 2 / 2 / 1 / 4
}
#grid-area-spring{
    grid-area: 2 / 2 / 2 / 2;
}
#grid-area-summer{
    grid-area: 2 / 3 / 2 / 3;
}
#grid-area-winter{
    grid-area: 3 / 2 / 3 / 2
}
#grid-area-autumn{
    grid-area: 3 / 3 / 3 / 3
}

.grid-container{
    width: 100%;
    height: 60%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 25% 5fr 5fr;
    grid-template-rows: 25% 17% 17%;
}

.grid-card-properties{
    display: flex;
    flex: 1;
    position: relative;
    flex-direction:column;
    border-style: solid;
    border-width: 5px;
    border-color: var(--LightG);
    background-color: var(--Rosy);
    color:var(--delft);
    margin: 20px;
}

/* .grid-card-properties:hover {
    border-color: var(--mint);
    background-color: var(--BrightTiffany);
    color: var(--jet);
    cursor: pointer;
} */

.top-work-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 25%;
    text-align: start;
    top: 200px;
    left: 0px;
    right: 0px;
    padding: 15px;
    color: var(--delft);
    background-color: var(--LightG);
    font-size: 30px;
}

.work-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    text-align: start;
    top: 55px;
    left: 0px;
    right: 0px;
    padding: 5px;
    color: var(--delft);
    background-color: var(--LightG);
    font-size: 30px;
    max-height: 17fr;
}

.grid-item{
    position: relative;
    overflow:hidden;
}


.grid-item img{
    width: 100%;
    height: auto;
    display:block;
    opacity: 50%;
}

.grid-item img:hover {
    opacity: 100%;
    background-color:var(--Rosy);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.contact-me{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    color:var(--delft);
    text-decoration:underline;
    text-underline-offset: 10px;
}


